.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--stone-12);
}

.header-content {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--stone-2);
}

.header-home {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.site-name {
}
