.card-container {
  width: 68rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4rem 0;
}

.card {
  max-width: 16rem;
  height: 16rem;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: var(--radius-2);
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: var(--radius-2);
  color: var(--stone-8);
  box-shadow: var(--shadow-2);
}

.card-inner {
  max-width: 16rem;
  height: 16rem;
  background-color: var(--stone-0);
  transition: all 0.2s;
}

.card-inner:hover {
  transform: scale(0.98);
  border-radius: var(--radius-2);
}

.card:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 255, 117, 0.3);
}

.card-img-top {
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-title {
  height: 2.5rem;
  font-size: var(--font-size-2);
  color: var(--stone-10);
  margin-bottom: 6px;
}

.card-text {
  font-size: var(--font-size-1);
}

.view-control-btn {
  background-color: var(--stone-1);
  border-radius: var(--radius-2);
  border-color: var(--stone-2);
  padding: 5px;
}
